<div class="container">
  <!-- classe de container do bootstrap -->
  <div class="row">
    <!-- classe linha do bootstrap -->
    <div class="col-12">
      <!-- classe de coluna do bootstrap -->
      <h1>Lista de Alunos UNINTER-2021</h1>
    </div>
    <div class="col-12">
      <table class="table table-striped">
        <!-- classe de tabela do bootstrap com estilização-->
        <thead>
          <!-- Titulos das colunas  -->
          <th scope="col">Nome</th>
          <th scope="col">RU</th>
          <th scope="col">Curso</th>
          <th scope="col">Data do Aniversário</th>
        </thead>
        <tbody>
          <tr *ngFor="let aluno of alunos">
            <!-- acessa a variavel de alunos e traz o valor de cada aluno para montagem da lista -->
            <td>{{aluno.nome}}</td>
            <td>{{aluno.ru}}</td>
            <td>{{aluno.curso}}</td>
            <td>{{aluno.dataAniversario}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
